<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.mikovali.balance.android">

    <application
        android:allowBackup="false"
        android:name=".infrastructure.android.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <activity android:name=".infrastructure.android.Activity"
            android:exported="true" />

        <activity-alias
            android:name="LauncherActivity"
            android:targetActivity=".infrastructure.android.Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
